# Environnements virtuels
venv/
.env/
.DS_Store
src/__pycache__/
tests/__pycache__/
src/data/input/geojson/*.geojson
src/data/input/parquet/*.parquet
src/data/ouput/data/*.csv
src/data/ouput/visualisation/*.html
src/map.html
**/__pycache__/
cache/
!src/data/input/stations_bixi.geojson
src/map.html
**/__pycache__/

