numpy==1.26.4
packaging==24.1
pandas==2.2.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
shapely==2.0.4
six==1.16.0
tzdata==2024.1
zipp==3.19.2
pytest==8.3.2
plotly==5.23.0
pydeck==0.9.1
geojson==3.1.0
requests==2.32.3